html
    head
        link(href='/public/styles/auctionSettingsStyle.css', rel='stylesheet' )
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        script(src="public/JQueryCode/auctionSettingsCode.js")
    body
        h1 Auction Settings
        a(href='/picturesListPage') Go to picture list
        a(href='/userListPage') Go to user list

        div
            span#dataStart Data start: #{auctionSettings.dataStart}

            br
            span#timeStart Time Start: #{auctionSettings.timeStart}

            br
            span#timeAfterBet Time after bet: #{auctionSettings.timeAfterBet}

            br
            span#timeToExplore Time to explode: #{auctionSettings.timeToExplore}

            br
            span#timeToNextPicture Time to next picture: #{auctionSettings.timeToNextPicture}


