html
    head
        include head
        script(src='public/clientJS/chatJS.js')
        style.
            .olTwoColumn {
                columns: 2;
            }
    body
        h1 Admin page
        ol.olTwoColumn
            div#adminUserList
                h1 User List
                each user in users
                    div#userInAdminList.w3-panel
                        | UserName: #{user.userName}
                        br
                        | AmountOfMoney: #{user.amountOfMoney}

            div#adminPictureList
                h1 Picture List
                each picture in pictures
                    div#pictureInAdminList.pictureInAdminList.w3-panel
                        | Title: #{picture.title}
                        br
                        | Author: #{picture.author}
                        if(picture.holder == '')
                            | Picture isn`t sold
                            br
                            | Start price: #{picture.startPrice}
                        else
                            | picture sold to #{picture.holder} for #{picture.finishPrice}

        include chatElement


