html
    head
        link(href='public/allStyles.css', rel='stylesheet')
        script(src="public/someJSCode.js")
    body
        a(href='/profile')  Перейти к профилю пользователя
        h1.headerStyle Список книг в библиотеке
        - for(let i = 0; i < 5; ++i)
            br

        form.selectStyle(action='/booksList', method='post')
                select(name='select')
                    option(disabled='') Фильтрация по
                    option(value='all' name='all') Отобразить все книги
                    option(value='onHand' name='onHand') В наличии
                    option(value='date' name='date') По дате
                input(type='submit', value='Отправить')

        if(books.length % 2 == 0)
            h2
                ol.olTwoColumn
                    each val in books
                        li.liStyle
                            | Название книги: #{val.name}
                            br
                            | Автор: #{val.author}
                            br
                            if(val.location == 0)
                                | Книга находится в библиотеке
                            else
                                | Книга в распоряжении пользователя: #{db.getUserByID(val.location).username}
                            br
                            a(href='/bookCard/' + val.id) Перейти к карточке книги
                            br
                            br
        else
            h2
                ol.olTwoColumn
                    - for(let i = 0; i < books.length - 1; ++i)
                        li.liStyle
                            | Название книги: #{books[i].name}
                            br
                            | Автор: #{books[i].author}
                            br
                            if(books[i].location == 0)
                                | Книга находится в библиотеке
                            else
                                | Книга в распоряжении пользователя: #{db.getUserByID(books[i].location).username}
                            br
                            a(href='/bookCard/' + books[i].id) Перейти к карточке книги
                            br
                            br

                div.oddliStyle
                    | #{books.length}. Название книги: #{books[books.length - 1].name}
                    br
                    | Автор: #{books[books.length - 1].author}
                    br
                    if(books[books.length - 1].location == 0)
                        | Книга находится в библиотеке
                    else
                        | Книга в распоряжении пользователя: #{db.getUserByID(books[books.length - 1].location).username}
                    br
                    a(href='/bookCard/' + books[books.length - 1].id) Перейти к карточке книги
                    br
                    br




